<div class="container mt-3">
  <div class="row">
    <div class="col-12">
      <h1>All our Flats</h1>
    </div>
  </div>

  <div class="row">
    <div class="col mb-2">
    <%= form_with url: flats_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query, params[:query], class: "form-control", placeholder: "Find by title or category" %>
      <%= submit_tag "Search", class: "btn btn-primary" %>
    <% end %>
      <div class="col mt-2"><%= link_to "Add a new flat", new_flat_path, class: "btn btn-secondary" %></div>
    </div>
  </div>

  <div class="py-5">
    <div class="container">
      <div class="row">
        <% @flats.each do |flat| %>
        <div class="col-md-4">
          <div class="flat-card">
            <div class="flat-card-image" style="background-image: url('<%= cl_image_path flat.photo.key, height: 300, width: 400, crop: :fill, class: "flat_pic card-img-top" %>')"></div>
              <div class="flat-card-content text-truncate mr-2">
                <div class="flat-card-title">
                  <h4><%= flat.title %></h4>
                </div>
                <p><%= flat.category %></p>
                <p><%= flat.location %></p>
                <p><%= flat.description %></p>

              </div>
              <div class="flat-card-items">
                  <div class="flex align-items-center ms-5">
                    <i class="fa-solid fa-users"></i>
                    <span><%= flat.number_of_guests %></span>
                  </div>
                  <div class="flex align-items-center ms-5">
                    <i class="fa-solid fa-euro-sign"></i>
                    <span><%= flat.price %></span>
                  </div>
              </div>
              <div class="flat-card-actions">
                <%= link_to "More info", flat_path(flat), class: "btn btn-outline-success" %>
                <% if policy(flat).edit? %>
                <%= link_to "Edit", edit_flat_path(flat), class: "btn btn-outline-secondary" %>
                <% end %>
                <% if policy(flat).destroy? %>
                <%= link_to "Remove", flat_path(flat),
                data: { turbo_method: :delete, turbo_confirm: "Are you sure?" },
                class: "btn btn-outline-danger" %>
                <% end %>
                <% if policy(flat).destroy? %>
                <%= link_to "Reservations of this flat", host_reservations_path, style:"width: 100%", class: "btn btn-outline-success width" %>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <nav aria-label="Page navigation example" >
  <ul class="pagination justify-content-end">
    <li class="page-item"><a class="page-link" <%= link_to "Previous page", flats_path(page: @page - 1) %> </li>
    <li class="page-item"><a class="page-link" <%= link_to "1", flats_path %> </li>
    <li class="page-item"><a class="page-link" <%= link_to "2", flats_path(page: 1) %> </li>
    <li class="page-item"><a class="page-link" <%= link_to "3", flats_path(page: 2) %> </li>
    <li class="page-item"><a class="page-link" <%= link_to "Next page", flats_path(page: @page + 1) %> </li>
  </ul>
  </nav>

</div>
