<div class="container mt-3">
  <div class="row">
    <div class="col-12">
      <h1>All our Flats</h1>
    </div>
  </div>

  <div class="row">
    <div class="col mb-2">
    <%= form_with url: flats_path, method: :get, class: "d-flex" do %>
      <%= text_field_tag :query, params[:query], class: "form-control", placeholder: "Find by title or category" %>
      <%= submit_tag "Search", class: "btn btn-primary" %>
    <% end %>
      <div class="col mt-2"><%= link_to "Add a new flat", new_flat_path, class: "btn btn-secondary" %></div>
    </div>
  </div>

  <div class="row">
    <% @flats.each do |flat| %>
      <div class="col-md-4">
        <div class="flat-card">
          <div class="flat-card-image" style="background-image: url('<%= cl_image_path flat.photo.key, height: 300, width: 400, crop: :fill %>')"></div>
          <div class="flat-card-content">
            <div class="flat-card-title">
              <h4><%= flat.title %></h4>
            </div>
            <p><%= flat.category %></p>
            <p><%= flat.location %></p>
            <p><%= flat.description %></p>
            <div class="flex">
              <div class="flex align-items-center">
                <i class="fa-solid fa-users"></i>
                <span><%= flat.number_of_guests %></span>
              </div>
              <div class="flex align-items-center ms-3">
                <i class="fa-solid fa-euro-sign"></i>
                <span><%= flat.price %></span>
              </div>
            </div>
          </div>
          <div class="flat-card-actions">
            <%= link_to "More info", flat_path(flat), class: "btn btn-outline-success" %>
            <% if policy(flat).edit? %>
            <%= link_to "Edit", edit_flat_path(flat), class: "btn btn-outline-secondary" %>
            <% end %>
            <% if policy(flat).destroy? %>
            <%= link_to "Remove", flat_path(flat),
                data: { turbo_method: :delete, turbo_confirm: "Are you sure?" },
                class: "btn btn-outline-danger" %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <nav aria-label="Page navigation example">
  <ul class="pagination justify-content-end">
    <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1">Previous</a>
    </li>
    <li class="page-item"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#">Next</a>
    </li>
  </ul>
  </nav>
</div>
