<div class="map" style="background-image: url('<%= cl_image_path @flat.photo.key, crop: :fill %>')"></div>
<div class="container margin-top-negative">
  <div class="row">

    <div class="col-8">
      <div class="flat-show-card">
        <h1><%= @flat.title %></h1>
        <p class="flat-show-address"><%= @flat.location %></p>
      </div>
      <div class="flat-show-card">
        <h3>A bit more about this flat...</h3>
        <p>Category:  <%= @flat.category %></p>
        <p>Description:  <%= @flat.description %></p>
      </div>
    </div>

    <div class="col-4">
      <div class="flat-show-card">
        <h5>Book this place!</h5>
        <form action="">
          <%= link_to "Reserve this now", new_flat_reservation_path(@flat), "data-bs-toggle" => "modal", "data-bs-target" => "#staticBackdrop", class: "btn btn-success mt-2", style: "width: 100%" %>
        </form>
      </div>
      <div class="flat-show-card">
        <h5>Details</h5>
        <div class="flex">
          <div class="flex">
            <%= @flat.number_of_guests %> guests
          </div>
          <div class="flex ms-3">
            <%= @flat.price %> € per night
          </div>
        </div>
      </div>
      <div class="flat-show-card">
        <div class="flex-align">
          <h6 class="no-mb">Share</h6>
          <div class="flex">
            <i class="fa-brands fa-facebook-square me-2"></i>
            <i class="fa-brands fa-twitter-square me-2"></i>
            <i class="fa-brands fa-pinterest-square me-2"></i>
          </div>
        </div>
      </div>
            <div class="flat-show-card">
        <div class="flex-align">
          <h6 class="no-mb">Rating</h6>
          <div class="flex">
            <% @flat.ratings.to_i.times do  %>
              <%# <span class="glyphicon glyphicon-star"></span> %>
              <i class="fas fa-star" style="color: orange"></i>
            <% end %>
            <% @flat.blank_stars.times do %>
              <%# <span class="glyphicon glyphicon-star-empty"></span> %>
              <i class="fas fa-star" style="color: gray"></i>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
</div>
<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="row justify-content-md-center">
          <h1>New reservation</h1>
          <%= simple_form_for [ @flat, @reservation ] do |f| %>
            <%= f.input :check_in, as: :date, html5: true, label: 'Check-in' %>
            <%= f.input :check_out, as: :date, html5: true, label: 'Check-out'  %>
            <%= f.input :number_of_guests, label: 'Number of guests'  %>
            <div class="text-center">
              <%= f.submit "Confirm", class: "btn btn-outline-success" %>
              <%= link_to "Back to All Flats", flats_path, class: "btn btn-outline-primary"  %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
