<div class="container mt-3">
  <div class="row">
    <div class="col-12">
      <h1>My reservations</h1>
    </div>
</div>

<div class="py-5">
  <div class="container">
    <div class="row">
    <% @reservations.each do |reservation| %>
      <% flat = Flat.find(reservation.flat_id) %>
      
      <div class="col-md-4">
        <div class="flat-card">
        <div>
          <% if flat.photo.key.present? %>
            <%= cl_image_tag reservation.flat.photo.key, crop: :fill, class:"flat_pic card-img-top" %>
          <% else %>
            <%= image_tag("unknown.jpg", class:"flat_pic card-img-top") %>
          <% end %>
        </div>
          <div class="flat-card-content reservation-content">
            <div class="flat-card-title">
              <h4><%= flat.title %></h4>
            </div>
            <div>
              <p><%= flat.category %></p>
              <p>In: <%= reservation.check_in %></p>
              <p>Out: <%= reservation.check_out %></p>
            </div>
            <div class="flex">
              <div class="flex align-items-center">
                <i class="fa-solid fa-users"></i>
                <span><%= flat.number_of_guests %></span>
              </div>
              <div class="flex align-items-center ms-3">
                <i class="fa-solid fa-euro-sign"></i>
                <span><%= flat.price %></span>
              </div>
            </div>
          </div>
          <div class="flat-card-actions">
            <%= link_to "Info", reservation_path(reservation), style:"width: 100%", class: "btn btn-outline-info" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  </div>
</div>
