<div>
  <% flat = Flat.find(@reservation.flat_id) %>
  <% if flat.photo.key.present? %>
    <div class="map" style="background-image: url('<%= cl_image_path flat.photo.key, crop: :fill %>')"></div>
  <% else %>
    <%= image_tag("unknown.jpg", class:"flat_pic card-img-top", style:"height: 50%" ) %>
  <% end %>
</div>
<div class="container margin-top-negative">
  <div class="row">
    <div class="col-8">
      <div class="flat-show-card">
        <h1><%= flat.title %></h1>
        <p class="flat-show-address"><%= flat.location %></p>
      </div>
      <div class="flat-show-card">
        <h3>About this flat...</h3>
        <p><strong>Category:</strong>  <%= flat.category %></p>
        <p><strong>Description:</strong>  <%= flat.description %></p>
      </div>
    </div>

    <div class="col-4">
      <div class="flat-show-card">
        <h3>Detail reservation</h3>
        <div class="mb-2 flex">Check In: <%= @reservation.check_in %></div>
        <div class="mb-2 flex">Check Out: <%= @reservation.check_out %></div>
        <div class="mb-2 flex">Number guests: <%= @reservation.number_of_guests %></div>
        <div class="mb-2 flex mb-2">Total: <%= @reservation.total_price %> €</div>
        <div class="flat-card-actions ">
          <div class="mb-1 ">
            <% if policy(@reservation).edit? %>
              <%= link_to "Edit", edit_reservation_path(@reservation), style:"width: 100%", class: "btn btn-outline-secondary" %>
            <% end %>
          </div>
          <div class="mb-1 ">
            <% if policy(@reservation).destroy? %>
              <%= link_to "Cancel", reservation_path(@reservation), method: :delete, style:"width: 100%", data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn btn-outline-danger" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
